body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444050;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --theme-text: #444050;
}

.app_mainDiv {
  height: 100vh;
  width: 100vw;
  /* background-color: #f0f2f5; */
  background-color: #fff;
  color: #444050;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure Poppins font is applied globally */
* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Hide scrollbars for the entire project */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

/* Webkit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  display: none;
}

/* Specific scrollbar hiding for common elements */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* For any div or container that might have scroll */
div,
section,
main,
aside,
article {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div::-webkit-scrollbar,
section::-webkit-scrollbar,
main::-webkit-scrollbar,
aside::-webkit-scrollbar,
article::-webkit-scrollbar {
  display: none;
}